[user]
	name = Alexandre Martins
# Lets comment out the email to force me to choose one for each new repository
# email = amartins@mdsol.com
#	email = alexmsmartins@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta | less --tabs=4 -RFX


[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	navigate = true
	features = decorations
	line-numbers = true

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[commit]
	template = ~/.stCommitMsg
  verbose = true
[merge]
	conflictstyle = diff3
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
  default = current
[alias]
    patch = !git --no-pager diff --no-color
[pull]
	rebase = true
