[user]
	# for setting up work specific git configuration
	# Use direnv in the directory where work specific projects are created
	# ──────┬─────────────────────────────────────────────
	#       │ File: .envrc
	# ──────┼─────────────────────────────────────────────
	#   1   │ export GIT_CONFIG_GLOBAL=$(pwd)/.gitconfig
	# ──────┬─────────────────────────────────────────────
	#       │ File: .gitconfig
	# ──────┼─────────────────────────────────────────────
	#   1   │ [include]
	#   2   │     path = ~/.gitconfig
	#   3   │ [user]
	#   4   │     name = Alexandre Martins
	#   5   │     email = ...
	# ──────┴─────────────────────────────────────────────
	name = Alexandre Martins
	email = alexmsmartins@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta | less --tabs=4 -RFX
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	navigate = true
	features = decorations
	line-numbers = true

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[commit]
	template = ~/.gitmessage
	verbose = true
[merge]
	conflictstyle = diff3
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
	default = current
[alias]
	patch = !git --no-pager diff --no-color
	# alias to ignore and unignore local files
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	root = !git rev-parse --show-toplevel
[pull]
	rebase = true
[git-mob-config]
	github-fetch = true
