$include /etc/inputrc
set editing-mode vi
$if mode=vi
  set keymap vi-command
  # these are for vi-command mode
  "\e[A":history-search-backward
  "\e[B":history-search-forward
  "\e[C": forward-char
  "\e[D": backward-char
  h:backward-char
  j:history-search-forward
  k:history-search-backward
  l:forward-char
  set keymap vi-insert
  # these are for vi-insert mode
  "\e[A":history-search-backward
  "\e[B":history-search-forward
  "\e[C": forward-char
  "\e[D": backward-char
  "kj" # remap escape
  "jk" # remap escape
  # FIXME below command used since 20211128 - delete if not used enough
  "\C-e": edit-and-execute-command
$endif

set show-all-if-ambiguous on

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
